.flight {
  margin: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.header {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}
.logo {
  flex-grow: 1;
}
.price {
  display: flex;
  justify-content: right;
  font-size: 25px;
}
.price_description {
  display: flex;
  justify-content: right;
  font-size: 14px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--orange);
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}
