.container {
  min-width: 300px;
  background-color: var(--grey);
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.filter {
  min-width: 270px;
  background-color: var(--white);
  margin: 15px 0;
  padding: 30px 15px;
  position: fixed;
}
.header {
  font-weight: bold;
}
.body {
  margin: 15px;
}
.extremum {
  text-align: center;
  color: var(--blue);
}
.price {
  font-size: 14px;
}
